@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&family=Poppins:wght@400;500;600;700;800&display=swap');

:root {
    font-family: "Inter", sans-serif;

    color: #334155;
    background: #FFF1F2;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
    width: 100%;
    min-height: 100%;
}

body {
    margin: 0;
}